body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px;
}

input[type="text"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#armas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.arma {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.arma img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.arma-image-container {
    position: relative;
    display: inline-block;
}

.arma-icon {
    width: 50px;
    height: 50px;
}

.arma-watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}